a {
    color: #F44336;
}

.button {
    border: 1px solid #F44336;
    color: #F44336;
}

.toolbar-inner{
    padding-top: 4px;
}


.navbar,
.toolbar,
.subnavbar {
    background: #ff3b30;
    color: #fff;
}

.navbar a.link, 
.toolbar a.link, 
.subnavbar a.link {
    /*    color: #fff;*/
    /*if put this white will affect the default keyboard color too*/
}

.searchbar {
    background: #ff3b30;
}

.tabbar a, 
.tabbar a.active {
    color: #fff;
}


.signup-page-footer{
    position: absolute; 
    text-align: center; 
    left: 0; 
    width: 100%;
}