a {
    color: #F44336;
}

.button {
    border: 1px solid #F44336;
    color: #F44336;
}

.toolbar-inner{
    padding-top: 4px;
}


.navbar,
.toolbar,
.subnavbar {
    background: #ff3b30;
    color: #fff;
}

.navbar a.link, 
.toolbar a.link, 
.subnavbar a.link {
    /*    color: #fff;*/
    /*if put this white will affect the default keyboard color too*/
}

.searchbar {
    background: #ff3b30;
}

.tabbar a, 
.tabbar a.active {
    color: #fff;
}


.signup-page-footer{
    position: absolute; 
    text-align: center; 
    left: 0; 
    width: 100%;
    z-index: 10;
}

.signup-page-footer-fb{
    bottom: 55px; 
    background: #3b5998; 
    border: none;
    color: #fff;
    width: 85%;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.signup-page-footer-email{
    bottom: 5px;
    background: #fff;
    border: none; 
    color: #757575;
    width: 85%;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}